.editorBody {
    color: black;
    background: rgba(255, 255, 255, 0.9);
    border-radius: 15px;
}

.editorBody div:first-child{
    border-top-left-radius: 15px;
    border-top-right-radius: 15px;
    border-color: black!important;
}
.editorBody div:last-child{
    border-bottom-left-radius: 15px;
    border-bottom-right-radius: 15px;
    border-color: black!important;
}

.iframeBox {
    margin-top: 5%;
}

.addIframeButton {
    justify-content: center!important;
    text-align: center!important;
    color: black !important;
    background-color: #F2D17A !important;
    border-color: #0a53be00 !important;
    --bs-btn-padding-x: 2.5rem !important;
    width: 100%;
}

.addIframeButton:hover {
    background-color: white !important;
}